.top{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    .v{
        border: none;
        background-image: inherit;
    }
}
.allFavorites{
    display: grid;
    grid-template-columns: auto auto auto auto;
}