.top{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
    .v{
        border: none;
        background-image: inherit;
    }
}
.allFavorites{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 1.5rem;
  
}

.searchBarF {
    display: flex;
    justify-content: center;
    background-image: inherit;
    gap: 2rem;
    
    .search {
        background: rgba(0, 0, 0, 0);
        // border: rgb(12, 12, 45);
        height: 3rem;
        width: 20rem;
        backdrop-filter: brightness(130%)
    }
   
}

.search::placeholder {
    color: black;
    margin: auto;
    size: 2rem;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}