body{
    text-align: center;
    .insertValues{
        position: absolute;
        width: 30%;
        height: fit-content;
        z-index: 1;
        border: 1px solid black;
        // display: inline-block;
        // margin-left: auto;
        // margin-right: auto;
        // text-align: left;
        margin-left: 35%;
        margin-right:35%;
        background-color: aquamarine;
        
    }
    .target{
        position: absolute;
        bottom: 2rem;
        margin-left: 25%;
        margin-right:25%;
        width: 50%;
        height: 3rem;
        background-color: aquamarine;
        border-radius: 50px;
       
        .carbo{
            position: relative;
            left: 0px;
            border-radius: 50px;
            background-color: rgb(2, 36, 2);
            height: 3rem;
            z-index: 1;
            
        }
    }
}
.top{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7rem;
}
.firstValues{
    display: flex;
    flex-direction: column;
    .total{
        display: flex;
        justify-content: space-between;
        width: 80vw;
        
    }
}
.totalDetails{
    display: flex;
    justify-content:space-between;
    width: 80vw;
}
